html
	head
		title 123
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/font-awesome.css")
	body
		header
			nav.registration
				ul
					li
						a(href="") Currency GRB
					li
						a(href="") Register
					li
						a(href="") Sign in
					li
						a(href="") 
							i.fa.fa-shopping-cart
							span empty
							span.arrow
		section.section-1
			div.logo avenue 
				span fashion
			nav
				ul
					li
						a(href="") mens
					li
						a(href="") womens
					li
						a(href="") the brand
					li
						a(href="") local stores
					li
						a(href="") look book
					li
						input(type="text" placeholder="Search")
		section.section-2
			nav.second-menu
				ul
					li
						a(href="") popular
					li
						a(href="") new arrivals
					li
						a(href="") best sellers
					li
						a(href="") special offers
					li
						a(href="") coming soon
			div.col-container
				div.col-1
					div.row-1
						div.item
							img(src="images/photo.png", alt="")
						div.item
							img(src="images/photo2.png", alt="")
					div.row-2
						div.item
							img.big(src="images/photo3.png", alt="")
				div.col-2
					div.row-1
						div.item
							img.big(src="images/photo4.png", alt="")
					div.row-2
						div.item
							img(src="images/photo6.png", alt="")
						div.item
							img(src="images/photo5.png", alt="")
		section
			div.content-1
			div.content-2
			div.content-3
		footer
			div.footer-content
				nav
					ul
						li
							a(href="") Information
							a(href="") The brand
							a(href="") Local stores
							a(href="") Customer servise
							a(href="") Privacy & cookies
							a(href="") Site map
						li
							a(href="") Why by from us
							a(href="") Shipping & returns
							a(href="") Secure shopping
							a(href="") Testimonials
							a(href="") Award winning
							a(href="") Ethical trading
						li
							a(href="") Your account
							a(href="") Sing in
							a(href="") Register
							a(href="") View cart
							a(href="") View your look
							a(href="") Track an order
							a(href="") Update information
						li
							a(href="") Lookbook
							a(href="") Latest posts
							a(href="") Men's lookbook
							a(href="") Women's lookbook
							a(href="") Lookbooks RSS feed
							a(href="") View your lookbook
							a(href="") Delete your lookbook
						li
							a(href="") Contact details
							a(href="") Head office: Avenue Fashion. 180-182 Regent Street. London.
							a(href="") Telephone. 0123-456-789
							a(href="") Email: support@yourwebsite.com
				div.other
					div.winner 
						p Award Winner
						p Fashion Awards 2016
					div.socials
						i.fa.fa-facebook
						i.fa.fa-twitter
						i.fa.fa-instagram
						i.fa.fa-pinterest
			div.copyright
				p copy 2016 Avenue Fashion tm
				p Design by RobbyDesigns.com
				p Dev by Loremipsum.com
